<menu class="container-full">
  <nav class="nav-container">
    <ul class="navbar-left">
      <li class="nav-logo">
        <a href="#">
          <img src="/assets/images/logo-inline.png" />
        </a>
      </li>
      <li class="nav-item">
        <a href="#">Currency <span class="chevron">&lsaquo;</span></a>
        <ul class="nav-dropdown">
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 2</a></li>
          <li><a href="#">Item 3</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="#">Items <span class="chevron">&lsaquo;</span></a>
        <ul class="nav-dropdown">
          <li><a href="#">Item 4</a></li>
          <li><a href="#">Item 5</a></li>
          <li><a href="#">Item 6</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="#">Accounts <span class="chevron">&lsaquo;</span></a>
        <ul class="nav-dropdown">
          <li><a href="#">Item 7</a></li>
          <li><a href="#">Item 8</a></li>
          <li><a href="#">Item 9</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="#">Services <span class="chevron">&lsaquo;</span></a>
        <ul class="nav-dropdown">
          <li><a href="#">Item 10</a></li>
          <li><a href="#">Item 11</a></li>
          <li><a href="#">Item 12</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="#">Swap <span class="chevron">&lsaquo;</span></a>
        <ul class="nav-dropdown">
          <li><a href="#">Item 13</a></li>
          <li><a href="#">Item 14</a></li>
          <li><a href="#">Item 15</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="#">Sell <span class="chevron">&lsaquo;</span></a>
        <ul class="nav-dropdown">
          <li><a href="#">Item 16</a></li>
          <li><a href="#">Item 17</a></li>
          <li><a href="#">Item 18</a></li>
        </ul>
      </li>
    </ul>
    <ul class="navbar-right">
      <li class="nav-item">
        <a href="#">USD <span class="chevron">&lsaquo;</span></a>
        <ul class="nav-dropdown">
          <li><a href="#">Item 19</a></li>
          <li><a href="#">Item 20</a></li>
          <li><a href="#">Item 21</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="#"
          ><span class="nav-item-icon"
            ><img src="/assets/icons/cart_icon.svg" /></span
          >Cart (5)</a
        >
      </li>
      <li class="nav-item">
        <a class="button-signin" href="#"
          >Sign In <span class="icon-user"></span
        ></a>
      </li>
      <li class="nav-item">
        <a href="#" onclick="document.getElementById('overlay-menu').style.display = 'block'">Menu</a>
      </li>
    </ul>
  </nav>
</menu>

<div id="overlay-menu" class="overlay">
  <div class="menu">
    <button class="close-btn" onclick="document.getElementById('overlay-menu').style.display = 'none'">✕</button>
    <ul>
      <li><a href="#">Currency</a></li>
      <li><a href="#">Items</a></li>
      <li><a href="#">Accounts</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Swap</a></li>
      <li><a href="#">Sell</a></li>
      <li><a href="#">USD</a></li>
      <li><a href="#">Cart (5)</a></li>
      <li><a href="#">Sign In</a></li>
      <li class="logo-menu-mobile"><img  src="/assets/images/logo-inline.png" /></li>
    </ul>
  </div>
</div>
