<menu class="container-full">
  <nav class="nav-container">
    <ul class="navbar-left">
      <li>LOGO</li>
      <li><a href="#">Currency</a></li>
      <li><a href="#">Items</a></li>
      <li><a href="#">Accounts</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Swap</a></li>
      <li><a href="#">Sell</a></li>
    </ul>
    <ul class="navbar-right">
      <li>LOGO</li>
      <li><a href="#">USD</a></li>
      <li><a href="#">Cart(5)</a></li>
      <li><a href="#">Sign In</a></li>
    </ul>
  </nav>
</menu>

