<section class="container-contained">
  <header class="plugin-store-component">
    <h1 class="heading-text">Condimentum consectetur</h1>
  </header>
  <div class="inputs-filters-container">
    <div class="inputs-filters-item-1 select-game">
      <div class="select-wrapper icon-sword">
        <select>
          <option>Select a game</option>
        </select>
      </div>
    </div>

    <div class="inputs-filters-item-2 search">
      <div class="select-wrapper icon-search no-select">
        <input type="text" class="search-input" placeholder="Search"/>
      </div>
    </div>


        <div class="inputs-filters-item-3 price">
          <div class="select-wrapper icon-money">
            <span class="leyend-text">Price</span>
            <span class="select-caption">All</span>
            <select class="leyend price-select">
              <option>All</option>
            </select>
          </div>
        </div>
        <div class="inputs-filters-item-3 item-type">
          <div class="select-wrapper icon-leaf">
            <span class="leyend-text">Item Type</span>
            <span class="select-caption">All</span>
            <select class="leyend">
              <option>All</option>
            </select>
          </div>

    </div>


  </div>



</section>
