@use '../base/variables' as *;


main{
  background-image: url("/assets/images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: $color-white;
  filter: sepia(0.4);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: $bg-main-overlay;
    z-index: 1;
  }

  > * {
    position: relative;
    z-index: 2;
  }

}

