@use "../base/variables" as *;

main {
  background-image: url("/assets/images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: $color-white;
  z-index: 0;
  height: 100vh;

  &::before {
    content: "";
    position: absolute;
    background-color: $bg-main-overlay;
    z-index: 1;

  }


}

