
// COLORS
$color-white: white;

// BACKGROUNDS
$bg-nav: #303141;
$bg-main: #37394B;
$bg-main-overlay: rgba(42, 58, 128, 0.51);
$bg-footer: #2B2C3B;


// BORDERS
$border-color-nav: rgba(77, 97, 132, 0.8);
$border-color-footer: $bg-nav;
$border-blue: #455478;

// CONTAINER SETTINGS
$max-width-contained: 1110px;
$spacing-horizontal: 16px;


// INPUTS
$input-padding-y: 0.85rem;
$input-padding-x: 1rem;
$input-font-size: 0.8rem;
$input-border-radius: 0.3rem;

$input-border-color: transparent;
$input-text-color: $color-white;
$input-font-weight: 600;
$input-bg-color: rgba(44, 119, 211, 0.12);
$input-focus-border: transparent;
$input-focus-shadow: transparent;
$input-disabled-bg: #f3f4f6;
$input-disabled-color: #9ca3af;
$placeholder-color: rgba(255, 255, 255, 0.6);
