<!-- Title & Search Section -->
<div class="products-component">
<section class="container-contained">
  <header>
    <h1 class="heading-text">Condimentum consectetur</h1>
  </header>
  <div class="inputs-filters-container">
    <div class="inputs-filters-item-1 select-game">
      <div class="select-wrapper icon-sword">
        <select>
          <option>Select a game</option>
        </select>
      </div>
    </div>
    <div class="inputs-filters-item-2 search">
      <div class="select-wrapper icon-search no-select">
        <input type="text" class="search-input" placeholder="Search"/>
      </div>
    </div>
    <div class="inputs-filters-item-3 price">
      <div class="select-wrapper icon-money">
        <span class="leyend-text">Price</span>
        <span class="select-caption">All</span>
        <select class="leyend price-select">
          <option>All</option>
        </select>
      </div>
    </div>
    <div class="inputs-filters-item-3 item-type">
      <div class="select-wrapper icon-leaf">
        <span class="leyend-text">Item Type</span>
        <span class="select-caption">All</span>
        <select class="leyend">
          <option>All</option>
        </select>
      </div>
    </div>
  </div>
</section>

<!-- Products Wrapper Content -->
<section class="container-contained">


  <div class="sorter-container">

    <!-- SORTER -->
    <div class="sorter-heading">
      <span class="sorter-item">Showing 20 - from 125</span>
      <span class="sorter-item">
        <div class="inputs-filters-item">
          <div class="select-wrapper icon-config">
            <span class="leyend-text">Sort By</span>
            <span class="select-caption">Featured</span>
            <select class="leyend">
              <option>Featured</option>
            </select>
          </div>
        </div>
      </span>
    </div>

    <div class="cards-container">
      <app-product
        *ngFor="let product of products"
        [title]="product.title"
        [description]="product.description"
        [price]="product.price"
        [before]="product.before"
        [logo]="product.logo"
        [image]="product.image"
        [in_stock]="product.in_stock"
        [on_sale]="product.on_sale"

      ></app-product>
    </div>

    <div class="pagination-container">
      <ul class="pagination-list">
        <li class="page-item"><a class="page-link chevron" href="#"><span class="chevron-left">&lsaquo;</span></a></li>
        <li class="page-item"><a class="page-link active" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><span class="page-link no-hover">&ctdot;</span></li>
        <li class="page-item"><a class="page-link" href="#">11</a></li>
        <li class="page-item"><a class="page-link chevron" href="#"><span class="chevron-right">&lsaquo;</span></a></li>
      </ul>
    </div>
  </div>

</section>
</div>
