@use '../base/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacing-horizontal;
  padding-right: $spacing-horizontal;
  box-sizing: border-box;

  &-full {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  &-contained {
    margin:auto;
    max-width: $max-width-contained;
    width: 100%;
  }

}
