<footer class="container-full">
  <div class="payments">
    <div class="container-contained">
      <ul>
        <li><a class="logo-payment" href="#"><img class="logo-img" src="/assets/logos/visa.png"/></a></li>
        <li><a class="logo-payment" href="#"><img class="logo-img mc" src="/assets/logos/mastercard.png"/></a></li>
        <li><a class="logo-payment" href="#"><img class="logo-img" src="/assets/logos/amex.png"/></a></li>
        <li><a class="logo-payment" href="#"><img class="logo-img" src="/assets/logos/skrill.png"/></a></li>
        <li><a class="logo-payment" href="#"><img class="logo-img" src="/assets/logos/bitcoin.png"/></a></li>
        <li><a class="logo-payment" href="#"> and 50+ more</a></li>
      </ul>
    </div>
  </div>
  <div class="social container-contained">
    <ul>
      <li><a class="logo-social" href="#"><img class="logo-img" src="/assets/logos/facebook.png"/></a></li>
      <li><a class="logo-social" href="#"><img class="logo-img" src="/assets/logos/instagram.png"/></a></li>
      <li><a class="logo-social" href="#"><img class="logo-img" src="/assets/logos/twitter.png"/></a></li>
      <li><a class="logo-social" href="#"><img class="logo-img" src="/assets/logos/discord.png"/></a></li>
    </ul>
  </div>
  <div class="footer-boxes container-contained">
    <div class="footer-box-1">
      <img class="logo-inline-footer" src="/assets/images/logo-inline.png"/>
      <a href="mailto:support@chicksgold.com">support@chicksgold.com</a>
    </div>
    <div class="footer-box-2">
      <h3>Chicks Gold</h3>
      <ul>
        <li><a href="#">Games</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Sitemap</a></li>
      </ul>
    </div>
    <div class="footer-box-3">
      <h3>Support</h3>
      <ul>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>
    <div class="footer-box-4">
      <h3>Legal</h3>
      <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Copyright Policy</a></li>
      </ul>
    </div>
    <div class="footer-box-5">
      <a href="#">
        <img class="trustpilot-logo" src="/assets/images/trustpilot.png"/> <span>Trustpilot Reviews</span>
      </a>
    </div>
  </div>
  <p class="copyright">&copy; 2017 - 2020 Chicksgold.com. All Rights Reserved</p>
</footer>

