<footer class="container-full">
  <div class="payments">
    <div class="container-contained">
      <ul>
        <li><a class="logo-payment" href="#"><img class="logo-img" src="/assets/logos/visa.png"/></a></li>
        <li><a class="logo-payment" href="#"><img class="logo-img mc" src="/assets/logos/mastercard.png"/></a></li>
        <li><a class="logo-payment" href="#"><img class="logo-img" src="/assets/logos/amex.png"/></a></li>
        <li><a class="logo-payment" href="#"><img class="logo-img" src="/assets/logos/skrill.png"/></a></li>
        <li><a class="logo-payment" href="#"><img class="logo-img" src="/assets/logos/bitcoin.png"/></a></li>
        <li><a class="logo-payment" href="#"> and 50+ more</a></li>
      </ul>
    </div>
  </div>
  <div class="social container-contained">
    <ul>
      <li><a class="logo-social" href="#"><img class="logo-img" src="/assets/logos/facebook.png"/></a></li>
      <li><a class="logo-social" href="#"><img class="logo-img" src="/assets/logos/instagram.png"/></a></li>
      <li><a class="logo-social" href="#"><img class="logo-img" src="/assets/logos/twitter.png"/></a></li>
      <li><a class="logo-social" href="#"><img class="logo-img" src="/assets/logos/discord.png"/></a></li>

    </ul>

  </div>
</footer>

